[2015-03-30 21:49] martinthomson opened #1 "Add TTL to push request"
This is just for the request from the application server to the push service.

[2015-03-30 21:50] martinthomson opened #2 "Add maximum TTL"
It was less clear that this was needed than #1 was, but the idea is that it would be good for a user agent (or maybe an application server too) to be able to learn the maximum TTL that a push service was willing to maintain.

[2015-03-30 21:53] martinthomson opened #3 "Add open disaggregation issue"
We're not decided on this issue, but we probably need to document the two options somehow, so that we can get the document in front of the working group.

One draft has a registration, the other has none.  We need to be able to move in either direction as needs (i.e., working group consensus) dictates.

[2015-03-30 22:30] martinthomson opened #4 "Delivery receipts"
This is likely straightforward, but it will require different amounts of machinery depending on the outcome of #3.  Application servers need to be told when their messages arrived.

The basic mechanism as described has the user agent send a conditional DELETE to the resource generated by each push message.  Tagging each message with an ETag would allow this to work without requiring too much extra

[2015-03-30 22:31] martinthomson opened #5 "Message encryption"
The sense I got from the meeting was that the text in webpush-encryption was probably best merged into the main draft.

[2015-03-31 04:05] brianraymor opened #6 "Add "Subscription Split""
As discussed on the mailing list - http://www.ietf.org/mail-archive/web/webpush/current/msg00130.html - and at the IETF 92 meeting.

[2015-03-31 20:00] brianraymor commented on #5
I reviewed the audio from the webpush meeting - especially comments from Mike and Joe. My sense is that it's premature to merge and requires more discussion on the list. Reviewing the httpbis etherpad for the draft-nottingham-http-encryption-encoding discussion, it appeared that Paul Hoffman (?) suggested alternatives:

_ph: why wont CMS w/smime eg smiime 3 not work?_
_pls engage smime list_

_mno

[2015-04-02 21:30] martinthomson commented on #6
I'm going to propose that we do this at the same time as #3, since the set of resources and link relations all change together that way.

[2015-04-02 22:13] #1 closed, assigned to nobody

[2015-04-02 22:27] martinthomson commented on #2
Discussed today: conclusion was to have subscriptions expire if the server is unwilling to maintain them over a long period of inactivity.

[2015-04-02 22:36] martinthomson opened #9 "Message collapsing"
Need to do this once we have #3 and #6 are sorted out.

[2015-04-06 20:28] martinthomson commented on #4
This was addressed in #10.

[2015-04-06 20:29] martinthomson commented on #6
This was addressed in #10.

[2015-04-06 20:29] #6 closed, assigned to nobody

[2015-04-06 20:29] martinthomson commented on #4
I need to click the right link; this is clearly NOT resolved.

[2015-04-06 20:29] martinthomson commented on #3
Addressed in #10.

[2015-04-06 20:29] #3 closed, assigned to nobody

[2015-04-06 21:44] martinthomson opened #14 "URIs and resources"
Let's be consistent about how we talk about the things:

There I think that we might want to settle on no scare quotes and to use "push resource" consistently for the thing, and "push resource URI" for the label that appears in the protocol.

[2015-04-07 03:01] brianraymor commented on #4
The associated pull request should also update **Implications for Application Reliability**.

[2015-04-07 03:20] brianraymor opened #16 "Remove references to replaceable monitoring function"
I think that we should remove this reference. If it's an important requirement to another participant in the WG, then allow them to propose an extension model. I'm uncomfortable with stating that monitoring "is intended to be replaceable" without demonstrating a proof-of-concept.

_The monitoring function described in this document is intended to be replaceable, enabling the use of monitoring sche

[2015-04-07 04:27] martinthomson commented on #16
I'm OK with that.  I thought it might be more important once, but less so now.

[2015-04-07 18:33] martinthomson opened #17 "Negative acknowledgments"
We need to consider this.

[2015-04-07 18:55] martinthomson opened #18 "Acknowledgment reliability"

[2015-04-07 22:44] brianraymor commented on #17
The original proposal for context:

_The push server MUST generate a 504 (Gateway Timeout) if the user agent fails to acknowledge the receipt of the push message or the push server fails to deliver the message prior to its expiration._

[2015-04-08 00:14] brianraymor commented on #9
If we decide to pursue - To keep related changes together, the pull request should include the changes for the **conditional** DELETE of the message resource by the user agent.

[2015-04-08 23:51] brianraymor opened #21 "Use of "subscription""
Once the receipt pull request is merged, there will be:
- Push Message Subscriptions or Message Subscriptions
- Push Receipt Subscriptions or Receipt Subscriptions

There should be one editorial pass to clarify the type of subscription. I'm not really keen on "subscription" -  "send messages to a subscription" compared to "send messages to a channel".

[2015-04-09 03:45] brianraymor commented on #14
Consider using the link relation name:
1. push:message;subscription
2. push:message

etc.

[2015-04-09 16:45] #4 closed, assigned to nobody

[2015-04-09 23:55] brianraymor commented on #18
From my notes of the discussion on 4/7. The scenarios are:

**Application Server is unavailable**

This is the case where the PS receives an acknowledgement from the UA, but cannot push a receipt to the AS because the AS is temporarily unavailable and not listening.  Is a TTL for receipts required?

**Application Server receives but fails to fully process**

This is the case where the AS receives

[2015-04-10 16:59] #16 closed, assigned to nobody

[2015-04-10 17:37] martinthomson commented on #17
Action for Martin to choose the right status code to use for NACKs.

[2015-04-10 17:38] martinthomson commented on #9
Defer to -01.

[2015-04-10 17:39] martinthomson commented on #18
Decision is to leave this open for now.  Will leave open with an note in the draft.

[2015-04-10 20:38] martinthomson opened #24 "Acknowledging TTL=0 messages"
The primary advantage of TTL=0 is that there is no storage involved.  That makes acknowledgment hard to do.  Can we say that TTL=0 means that no acknowledgments will be delivered?

This doesn't need to affect the DELETE from the user agent.

[2015-04-11 00:21] brianraymor commented on #24
Is a NACK returned if the message is not delivered?

Is seems a bit strange to _privilege_ 0, what about TTL=1?

[2015-04-13 16:19] martinthomson commented on #24
It might seem odd, but 0 is a special number here.  A TTL of zero indicates that the message is ephemeral and it should be discarded if it can't be delivered right away.  A TTL of 1 on the other hand needs to be persisted for a second, which - I will concede - is close enough that it might be effectively ephemeral.

[2015-04-13 17:03] brianraymor commented on #24
Elio and I are fine with the special case, but still have the question - _Is a NACK returned if the message is not delivered?_

The intent is to still add address #17 in 00?

[2015-04-13 17:16] martinthomson commented on #17
OK, here's the problem: there is no status code that works for this scenario.

We could try to be clever and attach different semantics to 404 and 410, or we could mint a new status code.  As for whether this is part of -00, we need text soon if it is going to be in.

We could use 418 (I'm A Teapot), but [IANA still don't have it registered](http://www.iana.org/assignments/http-status-codes/http-s

[2015-04-13 17:21] brianraymor commented on #17
I still believe that 504 is closest to what we need:

_The 504 (Gateway Timeout) status code indicates that the server, while acting as a gateway or proxy, did not receive a timely response from an upstream server it needed to access in order to complete the
request._

[2015-04-13 17:25] martinthomson commented on #17
The server (the push service in this case) is not acting as a gateway or proxy.  It is the authority for the resource, so using 504 would be nonsensical.  A status code for "the contents of the resource expired" are more appropriate.

[2015-04-13 17:34] brianraymor commented on #17
503 is also close. Pick one for 00 and discuss -or- mint a new one?

[2015-04-13 17:37] martinthomson commented on #17
I think that we need a new one.  Close doesn't work.

[2015-04-15 18:33] martinthomson commented on #17
We just had a discussion about this issue.  The concern raised was that there isn't a great deal of information that is provided to the application server with the NACK.  This means that the application server is unable to distinguish between all the error cases:  push service failure, subscription removal, TTL expiry, error in the application at the user agent, intentional NACK by the application

[2015-04-15 21:25] brianraymor commented on #21
Editorial pass was completed.

[2015-04-15 21:25] #21 closed, assigned to martinthomson

[2015-04-15 21:26] brianraymor commented on #14
Editorial pass was completed.

[2015-04-15 21:26] #14 closed, assigned to martinthomson

[2015-04-15 21:31] brianraymor commented on #17
This suggests that the push message needs to include data with the status to distinguish between the error cases.

[2015-04-15 22:33] martinthomson commented on #17
It was not my intent to suggest that.  You will note that at least one of those failures results in no feedback at all.

The intent was to try to lay out why building something like this isn't simple.  And why the end-to-end solution is perhaps superior in all respects - other than having the push service run a timer that the application server could run.

Here's another:
My push service manages m

[2015-04-22 06:27] ddragana opened #27 "Should receipt_endpoint be expose in PushSubscription of webpush api"
PushSubsctiption has two parameter: endpoint and subscriptionId. ReceiptEndpoint should be added.

I leave comment here and not in webpush api until this draft is close to be final regarding this.

[2015-04-22 15:23] brianraymor commented on #27
This is not actionable in the protocol draft. Please open an issue in the W3C repo if appropriate.

[2015-04-22 15:23] #27 closed, assigned to nobody

[2015-04-29 15:26] DanDruta commented on #18
Application Server should be able to query the status of a request/confirmation, if it for some reason could not serve a result notification (e.g. its listener was down). But because failure to send a result notification is not always the AS’s fault, an optional / implementation-specific feature of a PS could be to retry the notification (subsequent questions e.g. retry limits/schedule are also im

[2015-04-29 15:31] DanDruta commented on #2
It should be fine if we let subscriptions expire if the server is unwilling to maintain them over a long period of inactivity.

[2015-04-29 15:54] ghost commented on #18
My impression is that this works like the subscription endpoint. If the client sends an ack and the app server isn't listening for receipts, the push server will store and deliver the receipts the next time the app server reconnects.

App servers could also use `Prefer: wait=0` to request immediate delivery of stored acks.

Might be good to make this symmetry explicit in the spec, though.

**Edit*

[2015-04-29 16:04] martinthomson commented on #18
I've articulated the reasons that I disagree with this assessment in #17.  The actual value delivered is outweighed by the cost of providing the capability.

[2015-04-29 18:55] martinthomson opened #28 "Niceness or urgency of messages"
@dandruta notes that prioritization can be important.  This is true.

Maybe look at somehow integrating https://tools.ietf.org/html/draft-thomson-http-nice-02

[2015-06-19 05:37] brianraymor opened #29 "Incorrect sample in Section 5"
From Darshak Thakore review:

_Section 5 - In the example, Is the post operation to the right URL? Is that just an editorial oversight or is that the intended URL? Current example: POST /p/LBhhw0OohO-Wl4Oi971UGsB7sdQGUibx HTTP/1.1 Probably should be: POST /p/JzLQ3raZJfFBR0aqvOMsLrt54w4rJUsV HTTP/1.1_

The current example is incorrect. It should match the urn:ietf:params:push link relation returned

[2015-06-20 00:23] brianraymor opened #30 "Update sample in Section 5 to include Push-Receipt header"
From Darshak Thakore feedback:
- Add Push-Receipt header to Section 5 example
- Reference in Section 5.1

[2015-06-20 00:35] brianraymor opened #31 "Clarify Section 6.1 (Push Message Acknowledgements)"
Tracking Darshak Thakore feedback.

There's some confusion about the relationship between UA acknowledgements and AS receipts. For example:

_If stuff in Section 4 and Section 6.2 does not happen, can the interaction between the UA and the PS be simplified (the PS can itself delete the push message resource)_

The draft should clarify the scenarios motivating the feature and discuss appropriate be

[2015-06-24 22:10] brianraymor opened #32 "Clarify "expiration information" in Section 6 - Receiving Push Messages"
Tracking Darshak Thakore feedback:

There was ambiguity about the type of "expiration information" returned:
_Also I'm assuming here that the "expiration information" refers to the expiration info of the push messages (i.e their TTL), correct?_

@martinthomson has added a small clarification:

https://github.com/unicorn-wg/webpush-protocol/commit/181b620837aa39276b0a23b1a02d66f5f145cd0c

but an ex

[2015-07-01 21:24] brianraymor commented on #2
There is a related failure case in the current draft related to acknowledgements:

_The push server MUST push a response with a status code of 5XX (TBD)
   if the user agent fails to acknowledge the receipt of the push
   message or the push server fails to deliver the message prior to its
   expiration._

[2015-07-01 21:31] martinthomson commented on #17
We have the following error scenarios to consider:
- a message times out (?)
- the push service gives up on delivery (either because it was not acknowledged in time, or otherwise) (504?)
- the subscription is removed or deleted (410?)

MS have another state, where the app can send a negative signal indicating "yes, I received your message, but it caused an error".  That might be a positive acknowl

[2015-07-01 21:34] martinthomson commented on #17
Elio suggested that we might want to leave some latitude for the push service to generate a range of status codes.  Some suggestions might be sensible though.

[2015-07-01 21:37] martinthomson commented on #9
Defer again.

[2015-07-01 21:43] martinthomson commented on #18
I think that we could support a HEAD/GET request for the message resource so that application servers can query the status of a message, primarily whether it has been delivered.

[2015-07-01 22:09] martinthomson commented on #24
`Push-Receipt` is a sufficient signal from the application server to the push service for this.  The only real cost is that the user agent needs to remain alive for a round trip time in order to receive a TCP acknowledgment for its DELETE, since that is mandatory.

A push service could just remove message resources if there was no acknowledgement requested.  DELETE on a resource that is already go

[2015-07-01 22:09] #24 closed, assigned to nobody

[2015-07-01 22:21] martinthomson opened #33 "Reliability for acknowledgments : analysis"
We need to examine what reliability guarantees we are providing for acknowledgments.

While arguments for symmetry are intellectually appealing, the fact is that this is an inherently asymmetric protocol.  An application server is far, far more likely to be able to maintain constant network availability than a user agent.  Not providing reliability for acknowledgments can drive down the operating

[2015-07-15 21:15] martinthomson commented on #33
On further consideration, I'm going to propose 1.

[2015-07-15 21:15] #33 closed, assigned to nobody

[2015-07-15 21:18] martinthomson commented on #5
Let's just treat this as a issue tracking the encryption thing.

[2015-07-19 19:54] #29 closed, assigned to nobody

[2015-07-19 19:54] #30 closed, assigned to nobody

[2015-07-19 19:56] brianraymor commented on #2
Discussed. Discovery of maximum TTL is not required at this time.

[2015-07-19 19:56] #2 closed, assigned to nobody

[2015-07-19 19:57] brianraymor commented on #9
Deferred multiple times. Closing. Can be reopened if there is a requirement to support this scenario.

[2015-07-20 08:06] brianraymor commented on #28
First, we need to clarify whether there are scenarios that require priorities to be included in the base specification:

@dandruta [wrote](https://mailarchive.ietf.org/arch/msg/webpush/7ltW-kU9katoRX6J0hlv-QAFplM):

_As I went through the draft I wasn't able to understand how the push service will handle message prioritization (for the same subscription). Is the expectation that the app server wil

[2015-07-20 08:14] brianraymor commented on #28
Once we have clarity on scenarios and requirements and evaluated the importance of this feature, then we can consider designs.

@martinthomson has proposed nice-02 for the scenario above.

@darshakthakore [proposed](https://mailarchive.ietf.org/arch/msg/webpush/yxmBmuhyW_wyP2Vbum--7qmH6Cs):

_Would it make sense to use the Prefer header instead of the TTL header. This would allow carrying prioriti

[2015-07-22 17:11] martinthomson opened #35 "Delete immediately after TTL expires?"
@benbangert notes that the requirement to delete immediately after TTL expires (or at least soon after) is not compatible with certain push service implementation strategies.  We should allow for these designs.

Since the data is encrypted, the implications of retention are less, but we should probably still require some upper bound on this time.

[2015-07-27 10:39] martinthomson opened #37 "Port numbers"
Different ports have different timeouts and 443 isn't necessarily the best choice.  Some network operators bless the ports that existing services use.

However, 5223 and 5228 are already registered with IANA.  Maybe we don't need to say anything at all and we find some way to steer implementations toward those ports.

Thanks to @costinm for the reminder.

[2015-07-28 22:20] brianraymor commented on #37
@martinthomson - _maybe we don't need to say anything at all_ - could you clarify what you're proposing? Is this guidance that you want to capture in **Operational Considerations**?

[2015-07-29 15:43] brianraymor commented on #35
As [suggested](https://mailarchive.ietf.org/arch/msg/webpush/uI_-MFgaFHooHR9B2m0xf025hoQ) by @costinm:

_the spec should certainly require that expired messages are not delivered, but not how it is implemented. Best time bound would be 'maximum TTL' - it's  cheapest in some databases._

[2015-07-29 15:56] brianraymor opened #38 "Clarify behavior for TTL of 0"
@benbangert [requests](https://mailarchive.ietf.org/arch/msg/webpush/SDBg4YCThZHnIo-TLbe_Ep7EOAs) clarification on TTL of 0:

_The spec indicates a TTL of 0 should result in the message not being delivered if the client is not connected. However, it doesn't indicate whether the Push server is still under the same obligation to provide a Location header in the response in this case (I assume its st

[2015-07-29 16:17] brianraymor commented on #18
As [captured](https://www.ietf.org/proceedings/93/minutes/minutes-93-webpush) in the IETF 93 meeting minutes:

_There was a general consensus to support “Full Reliability” whereby push and acknowledgement messages are both stored and retried until TTL expires._

Push messages are stored and retried.
Acknowledgments are stored and retried.
At the TTL, the push service gives up.

[2015-07-29 16:33] brianraymor opened #39 "Acknowledging Acknowledgements"
As [captured](https://www.ietf.org/proceedings/93/minutes/minutes-93-webpush) in the IETF 93 meeting minutes:

_Discussion about whether acknowledgement is needed for acknowledgement itself need to be discussed further. The feeling of the room was relatively strong inclination not to do this._

@dandruta did request support for the feature.

[2015-07-29 16:37] brianraymor opened #40 "Separate TTL(s) for Messages and Acknowledgements"
As [captured](https://www.ietf.org/proceedings/93/minutes/minutes-93-webpush) in the IETF 93 meeting minutes:

_Whether TTL be same for both acknowledgment and push message need to be debated._

[2015-07-29 16:42] brianraymor commented on #17
Proposal discussed at IETF 93:

_Prior to TTL, if the push service gives up on a message (or an acknowledgment) - signal the error to the application server_

_Even (or especially) with full reliability, there is no point in signaling the expiration of the TTL - the application server might be offline_

[2015-07-29 17:01] brianraymor opened #41 "Per-client subscription resource ('aggregated subscriptions')"
This feature has been requested multiple times - most [recently](https://mailarchive.ietf.org/arch/msg/webpush/HcTPdM5uv1HRnqldAOWTs8ClnTI) by @benbangert:

_I would propose allowing a Push Service to provide an authenticated client a single push subscription URL for all subscriptions for that client (the Location handed to App-Servers would of course vary for each subscription). The Push Promise

[2015-07-31 14:29] martinthomson commented on #37
I apologize for not taking the issue to the list; I intended to, but have been busy.

[2015-07-31 17:01] costinm commented on #37
I think it's important to say something - port 443 is very unlikely to work
well. Any free port is good.

Under "operational considerations" we should mention that network
operators, router manufacturers, enterprises should
configure the defined port with a very long time to live in the NAT ( at
least 60 min ? ), and should not block it.
And for abuse control they may limit the number of connectio

[2015-08-04 21:51] brianraymor opened #42 "Returning data with Acknowledgements"
Extracted from #17 for separate discussion - @martinthomson wrote:

_MS have another state, where the app can send a negative signal indicating "yes, I received your message, but it caused an error". That might be a positive acknowledgment, but some applications want to have additional information carried back._

_Elio suggested that we might want to leave some latitude for the ~~push service~~ us

[2015-08-09 20:39] martinthomson opened #43 "Effect of h2 concurrent stream limit"
My suggestion would be to document the limit.  If a server wants to limit the concurrent streams in order to limit the number of concurrent, independent subscriptions, then that seems like a valid thing to do.  I would hope that clients respect this limit and therefore have to treat any additional subscriptions as failed (or at least temporarily inaccessible).

/cc @benbangert

[2015-08-09 21:33] bbangert commented on #43
As a way to indicate the server is only interested in aggregate subscriptions, a concurrent setting of 2 might be one way to indicate this to the client. This would leave the client with a single 'command channel' to subscribe/unsubscribe, and the other for the notifications.

[2015-08-09 21:42] ghost commented on #41
Since messages are individually addressable, would this require adding a special `Link` header (containing the subscription URL) to the pushed streams?

[2015-08-09 21:47] ghost commented on #43
Makes sense. This serializes message acks, too...but I'd hope a client never receives so many messages for that to be an issue.

[2015-08-14 21:57] costinm opened #44 "Sender and client authentication"
Push services may require authentication of UA, when they connect to the push service to subscribe or poll, and of application servers.

The spec should define one such mechanism - for example by using a key pair for each UA and for each application server, and using one of the common mechanisms - TLS client auth, JWT tokens - to authenticate.

Using a key pair also allows ApplicationServers to ta

[2015-08-24 20:54] brianraymor commented on #41
Proposal [shared](http://www.ietf.org/mail-archive/web/webpush/current/msg00272.html) on mailing list.

This is dependent on #44 for correlation.

[2015-08-26 20:57] martinthomson commented on #44
To register the idea that was floated today at our internal meeting...  Application servers could use a certificate.  There are already slots in certificates for the sort of information that a push service might like to use and an application might want to volunteer (email, URL, hostnames, etc...).  The setup process isn't exactly nice for certificates, but there are plenty of tools out there.

[2015-08-28 23:49] #35 closed, assigned to nobody

[2015-08-28 23:49] #38 closed, assigned to nobody

[2015-08-29 03:03] costinm commented on #44
Sorry for the delay, too many things happening :-)

I think the important part is having the application servers use a key pair
- with one of the common mechanisms, either TLS client
  authentication or JWT tokens.

This will allow an app server to use the same key pair with multiple
webpush servers instead of having to register secrets with each
of them.

A certificate is not a bad idea - the mai

[2015-09-30 22:31] martinthomson opened #46 "Subscription identifier in push promises"
The subscriptions sets change causes the correlation between a push message resource and its subscription to come in the response.  Prior to that, the push promise included all the information necessary to identify the subscription.

This is a useful feature because it allows a push service and user agent to support w3c/push-api#168 without anything special: all the server needs to do is send all

[2015-10-06 00:07] brianraymor commented on #37
Regarding time-to-live and NAT(s), [RFC5382 - NAT Behavioral Requirements for TCP
](https://tools.ietf.org/html/rfc5382#section-5) offers guidance:

REQ-5:  If a NAT cannot determine whether the endpoints of a TCP
      connection are active, it MAY abandon the session if it has been
      idle for some time.  In such cases, the value of the "established
      connection idle-timeout" MUST NOT be

[2015-10-06 00:11] brianraymor commented on #37
@martinthomson wrote _However, 5223 and 5228 are already registered with IANA_. Just to clarify for the broader audience, the ports are registered to hpvirtgrp and hpvroom, although unofficially used by APNS and GCM.

[2015-10-06 00:25] coopdanger commented on #37
Unless I'm missing something, it seems like it would be better to register unallocated port numbers than squat on existing ones. There is enough new protocol here to justify registrations.

[2015-10-06 18:30] costinm commented on #37
One the '2 hours and 4 min' - is there any mobile network that does that ?
In my experience 1 hour is the most you can hope for, 30 min is typical -
but many are way bellow.

Actually the most important thing is how they close the connection - I
believe the RFCs require sending
a RST packet to both ends, and many networks do this. However there are
cases where the connection
is silently closed, wi

[2015-10-06 22:18] brianraymor commented on #31
I believe that this was addressed in the previous set of editorial changes - #45. Please re-open if further clarifications are required.

[2015-10-06 22:18] #31 closed, assigned to brianraymor

[2015-10-13 03:02] brianraymor commented on #32
As discussed on the [mailing list](http://www.ietf.org/mail-archive/web/webpush/current/msg00298.html), the use of HTTP cache headers for graceful subscription expiration was deprecated.

[2015-10-13 17:12] #32 closed, assigned to brianraymor

[2015-10-13 23:34] brianraymor opened #49 "Status Code for Negative Acknowledgements"
I'm separating this out from #17.

There is a 5XX status code placeholder in the design for negative acknowledgements.

@martinthomson wrote:

OK, here's the problem: there is no status code that works for this scenario.

We could try to be clever and attach different semantics to 404 and 410, or we could mint a new status code ...

We could use 418 (I'm A Teapot), but IANA still don't have it reg

[2015-10-14 16:57] #17 closed, assigned to brianraymor

[2015-10-14 16:57] #18 closed, assigned to nobody

[2015-10-15 04:57] brianraymor commented on #42
As pointed out by Mark Nottingham, the title and description implied that this issue required a new range of HTTP status codes. Removing references to "status code" since the use of HTTP status codes was never intended.

[2015-10-19 21:44] brianraymor opened #52 "Section 6: Paragraph flow reversed for Prefer header case"
During the earlier merge to create webpush-00, the flow for this paragraph was reversed:

_A user agent can request the contents of the "subscription" resource
   immediately by including a Prefer header field [RFC7240] with a
   "wait" parameter set to "0".  The push server SHOULD return a link
   reference to the "subscription" resource and expiration information
   in response to this request.

[2015-10-20 03:21] brianraymor commented on #43
Based on the discussions at IETF 93, there was a requirement captured in the [proposal](http://www.ietf.org/mail-archive/web/webpush/current/msg00272.html)

_The push service MAY return new subscription sets in response to different subscription requests from the same UA. This allows the push service to control the grouping._

If this requirement is retained, then SETTINGS_MAX_CONCURRENT_STREAMS c

[2015-10-20 03:24] bbangert commented on #43
This sounds good to me. If a client wants to poll notifications for multiple subscription sets, it could do the poll style query for each one in serial/parallel before issuing new commands. And then drop the connection. Either way I appreciate that the push server can exercise some resource limitations.

[2015-10-23 21:14] martinthomson opened #55 "Redirect from subscription to containing set"
This allows a push service to store nothing for a subscription and hold everything in the set if it likes.  I think that we discussed allowing this in Prague.

[2015-10-23 21:15] martinthomson opened #56 "Remove push receipt link relation from push messages"
I think that having the push service return the link relation on requests to subscriptions (and subscription sets) is enough.  I think that perhaps it was added to push messages in error.

[2015-10-23 21:15] martinthomson commented on #56
cc @bbangert

[2015-10-23 21:27] brianraymor commented on #55
If the Push Service supports subscription sets and the User Agent attempts to request messages from a specific push subscription rather than the subscription set, then the Push Service MAY return a 307 with the Location set to the push:set URL?

[2015-10-23 23:08] martinthomson commented on #55
Not clear, I have an email now saying that we'd discussed the issue and didn't need a redirect.  Not having one is certainly much nicer.  If we can get away with it.

cc @bbangert

[2015-10-24 02:18] bbangert commented on #55
I'm fine not requiring it, which would allow a knowledgeable client to group subscriptions as it sees fit. However, a buggy client would end up only getting notifications for a single set, and lots of 503's (which should let the author figure out their bug quickly).

[2015-11-02 03:46] brianraymor opened #58 "Provide a method to indicate rate-limit issues"
As discussed in [Provide a method to indicate rate-limit issues](http://www.ietf.org/mail-archive/web/webpush/current/msg00341.html)
cc @bbangert

[2015-11-02 10:04] brianraymor commented on #5
This has been accepted as a work item in webpush. Closing.

[2015-11-02 10:04] #5 closed, assigned to martinthomson

[2015-11-03 04:46] martinthomson commented on #9
Discussed in Yokohama: action on @martinthomson to generate a pull request that uses a string collapse key.  That would allow the application server to operate in a stateless mode, something that the previous pull request would not allow.

[2015-11-03 05:11] martinthomson commented on #28
Discussed in Yokohama: we will leave this out of the core document; we will await a proposal that we can use as the basis for further discussion.

[2015-11-03 05:22] martinthomson commented on #37
Discussed in Prague; will confirm on list, but the plan is to request a port number, and then recommend that push services identify themselves as being available on port 443.  They can use alternative services to move traffic to the IANA allocated port number if that is possible.

[2015-11-03 05:22] martinthomson commented on #40
Discussed in Yokohama: close this.

[2015-11-03 05:22] #40 closed, assigned to nobody

[2015-11-03 05:23] martinthomson commented on #39
Discussed in Yokohama: close.

[2015-11-03 05:23] #39 closed, assigned to nobody

[2015-11-03 06:51] brianraymor commented on #46
Closed by #53

[2015-11-03 06:51] #46 closed, assigned to nobody

[2015-11-03 06:52] brianraymor commented on #43
Closed by #53

[2015-11-03 06:52] #43 closed, assigned to nobody

[2015-11-03 06:52] brianraymor commented on #41
Closed by #53

[2015-11-03 06:52] #41 closed, assigned to nobody

[2015-11-03 06:53] brianraymor commented on #52
Closed by #53

[2015-11-03 06:53] #52 closed, assigned to brianraymor

[2015-11-03 07:10] brianraymor commented on #49
Discussed in Yokohama. @brianraymor to raise discussion on httpbis mailing list.

[2015-11-10 23:57] brianraymor commented on #49
@darshakthakore suggested a variation based on:
[_Expect header and a corresponding 417 – Expectation Failed status code_](https://tools.ietf.org/html/rfc7231#section-5.1.1)

[2015-11-10 23:59] brianraymor commented on #42
Deferring until further data is available. If the proposal proceeds, there needs to be a length constraint on the opaque data.

[2015-11-11 00:13] #56 closed, assigned to nobody

[2015-11-12 01:03] martinthomson commented on #9
Just did a scan of the header fields that are already registered.  The only one that is even a remote possibility for this purpose is [SLUG](https://tools.ietf.org/html/rfc5023#section-9.7).  It looks like we might want to ask for another new one, current candidate: `Topic`.

[2015-11-12 01:29] #58 closed, assigned to nobody

[2015-11-12 01:55] brianraymor commented on #9
_Topic_ sounds like a better option than reuse in this case.

[2015-11-12 19:23] martinthomson opened #61 "Push-Receipt or link relation?"
Is there any value in using a link relation type for the receipt subscription rather than a new header field?  We already have to define the link relation type, so maybe it can save on a bit of protocol machinery.

[2015-11-13 21:20] brianraymor commented on #28
_Priority_ is too overloaded a term, since it may refer to:
- Message Ordering
- Urgency ("Niceness") as in "Is it urgent enough to wake the device and burn the battery?"

Updating this issue to be specific to urgency. I plan to adapt and integrate Martin's [Marking HTTP Requests as Unimportant](https://tools.ietf.org/html/draft-thomson-http-nice-02) as a proposed solution. For example:
- Nice 0 -

[2015-11-20 21:51] #37 closed, assigned to brianraymor

[2015-11-23 17:38] #49 closed, assigned to brianraymor

[2016-01-08 00:05] beverloo commented on #28
We plan to include the Nice header in an upcoming version of our implementation with the following deliberate violation:

Requests not bearing the Nice header will be treated as messages of _default_ priority (similar to Nice: 1 in Brian's description).

The issue of defaulting to high priority is that the consequences of forgetting to include the header (waking up the UA) are disproportionate to

[2016-01-08 01:32] martinthomson commented on #28
@beverloo, this is interesting.  I'd like to reach some sort of consensus on how to present priority, especially defaults.  Would recasting the header field into a three-valued enumeration of high/normal/low be a better fit for your use case?  Webpush might interpret high as needing an urgent wakeup and low as being something that could wait until there were other messages to send.

At that point,

[2016-01-08 16:34] jrconlin commented on #28
I have to admit, I have a few concerns about this proposal.

1) Priority - Push notifications are already pretty much temporal and priority, right? Essentially, this would offer a two state option of "Deliver this to my app NOW!" or "Deliver this whenever." My concern and complaint would be that the low priority messages probably shouldn't go through the web push channel. Instead, the app could sp

[2016-01-08 18:10] beverloo commented on #28
I think both your messages present good arguments for reasoning about this as _urgency_ rather than _priority_.

@martinthomson Having thought about this more, I do agree that `Nice` probably is not the best term. I certainly subscribe to Brian's mapping of the {0, 1, 2} values to their interpretation in context of Web Push, but those would work with {high, normal, low} urgency as well.

@jrconlin

[2016-01-08 19:16] jrconlin commented on #28
I suppose I'm still not really seeing the value of this. As you note, a highly urgent message would require the UA to do work, the app to be woken and all the various things that should be required. It's a significant action. I'm not really sure I'd find it useful to be woken up at  3AM to be told that a server is down, oh, and that four of my old high school friends killed snakes in Farmville.

I

[2016-01-08 20:43] jrconlin commented on #28
Having had a conversation with Ben about this, let me also clarify a few things.

1) An app could start for any reason. User activity, timer, etc. There is nothing preventing or discouraging that app from checking it's server for outstanding messages right now.

2) I understand the appeal of having extra information handed to an app that is being woken by a high priority message may bring. I feel

[2016-01-08 21:42] bbangert commented on #28
@beverloo So far this only seems to cover the header sent to the Push Service, I assume there's some corresponding change to how a UA asks a Push Service for notifications such that it can do a one-off poll that indicates if there's any Nice 0 messages?

I'm somewhat concerned that Nice 2 messages increase database load for a Push Service, since accepting those notifications requires a database hi

[2016-01-08 23:41] martinthomson commented on #28
@jrconlin, Part of the efficiency advantage of a push service is its ability to coalesce multiple messages into a single message to a user agent.  That means delaying some messages.  Urgency indicators help the push service decide how much delay is acceptable.  (And as @bbangert notes, if the user agent can indicate an urgency on its polling request, that might govern push service behaviour as wel

[2016-01-09 00:36] bbangert commented on #28
@martinthomson my main thought was that it could cause some odd results, since if its a Nice 2 topic, and there were no Nice 0 stored, it wouldn't collapse but actually just delete the existing one. Why a topic would go from Nice 1 -> Nice 2, I don't know offhand but I guess someone could dream up a case for that.

[2016-01-09 19:11] costinm commented on #28
The headers should provide enough information to enable the push service to optimize for network and battery usage.

"Urgent" is clear - deliver ASAP, no matter what. A push service may look for abuse of "urgent", and I don't think it should be default. If the device is offline: urgent may still be affected by expiration and collapse, but as soon as the device gets connected urgent will be deliver

[2016-01-11 04:26] costinm commented on #42
I wouldn't mix 'sending messages from device to sender' with the ack.
A payload in the ack would make it too close to an RPC or reverse HTTP, with the expectation that the request gets a matching ack with content. Which would be nice - but as a separate top level feature, in a future version.

To make things more complicated - the message may be sent to the UA and the UA may ack to the push servic

[2016-01-11 04:31] costinm commented on #9
"Topic" may be a bit confusing, it is commonly used in pubsub. I don't know if pubsub uses a Topic header, but it may still confuse developers.

[2016-01-11 17:15] bbangert commented on #28
The WebPush spec covers how the client asks for notifications. When we talk of how the Push server has urgency values attached to notifications, I assume this means by necessity we will be talking about how the Push server knows all these various things about the client to make these determinations?

@costinm Do you plan on introducing additional flags for the client when making a notification req

[2016-01-11 17:25] costinm commented on #28
GCM uses a binary protocol for UA-push service, which already has the flags ( it wouldn't work
otherwise for the deep sleep for example ). I think common ones could be added to webpush
spec, but with lots of care - we don't want the UA to send notifications too often (for example
on state change).

A start would be to define a header for the 'monitor' request, with a list of flags, and
define comm

[2016-01-11 22:10] brianraymor commented on #55
@martinthomson and @bbangert - If you're still cool with not requiring this change, then I'll close the issue.

[2016-01-11 22:16] martinthomson commented on #55
Close it.

[2016-01-11 22:16] bbangert commented on #55
I'm good.

[2016-01-11 22:17] #55 closed, assigned to nobody

[2016-01-11 22:36] brianraymor commented on #61
While considering this, I noticed an editorial error in Section 10.2 where the link relation is referenced as urn:ietf:push:receipt**s** instead of urn:ietf:push:receipt which is used throughout the rest of the draft.

Using a link relation might be more consistent - not sure that it saves on _protocol machinery_?

Are you proposing to replace the Push-Receipt header with a new link relation - pot

[2016-01-28 04:20] martinthomson commented on #61
Yes, there are the same number of moving parts.  My mistake.

Just remembered the actual reason for opening the issue.  The HTTP working group often state that header fields need to have wide applicability for them to be defined, otherwise the data they carry is best carried in payload bodies.  The same restriction does not apply to link relations.

[2016-02-03 18:05] #9 closed, assigned to martinthomson

[2016-02-04 01:41] #61 closed, assigned to nobody

[2016-02-04 03:19] bbangert opened #74 "Examples are invalid"
All of the examples of Push messages show plain-text content of some sort with:

[code]

However, under WebPush, all payload content must be encrypted, and include crypto headers (which the examples don't include as well). Section 9.1 indicates that encryption is required without linking to the specification documenting it.

Is there some utility in documenting invalid examples given the headers n

[2016-02-04 04:14] brianraymor commented on #74
I'd note that the 9.1 requirement is referring to the Web Push API not the protocol itself:

_The Web Push API codifies this practice by requiring that each push subscription created by the browser be bound to a browser generated encryption key._

Encryption is an optional feature which is one reason that the related draft is separate from the core protocol.

[2016-02-04 04:54] bbangert commented on #74
That sounds reasonable, does this mean there's some intention to create a "Web Push API" specification that is referred to here? I can only find the "Message Encryption for Web Push" spec which covers it.

I'll admit I am somewhat sad that one of the top search results for 'web push' will lead a developer to think unencrypted plain-text payloads are acceptable, but I understand the desire to keep

[2016-02-04 06:41] brianraymor commented on #74
That would be the W3C API - https://w3c.github.io/push-api/

[2016-02-04 06:52] bbangert commented on #74
Ah, I've never heard it referred to as the Web Push API. Could a reference be stuck in with a footnote so that's clear?

Closing this as the lack of crypto is intentional.

[2016-02-04 06:52] #74 closed, assigned to nobody

[2016-02-05 06:13] brianraymor opened #75 "Improve Security Considerations section"
There is an adequate explanation of the related W3C Push API in the Introduction. Additional references about specific API behavior in Section 9.3 and 9.4 can be removed.

[2016-02-05 16:22] brianraymor opened #76 "Require the TTL header"
As discussed on the [mailing list](http://www.ietf.org/mail-archive/web/webpush/current/msg00420.html), requiring the TTL header field will simplify implementations and avoid potential errors.

A 400 (Bad Request) MUST be returned by the push service if the TTL header field is missing.

[2016-02-05 16:52] brianraymor commented on #44
Proposal shared on [mailing list](http://www.ietf.org/mail-archive/web/webpush/current/msg00411.html).

[2016-02-18 15:47] #76 closed, assigned to brianraymor

[2016-02-18 21:24] brianraymor commented on #28
Noting earlier httpbis discussion on the use of [Prefer](https://lists.w3.org/Archives/Public/ietf-http-wg/2013JulSep/0848.html) instead of a custom header

[2016-02-24 16:35] #28 closed, assigned to brianraymor

[2016-03-10 23:01] #42 closed, assigned to nobody

[2016-03-10 23:35] brianraymor commented on #75
Besides removing extraneous API references, informative references should be added for the separate drafts for optional content encoding and authentication.

[2016-03-15 19:00] marco-c opened #79 "Clarify that a POST request is needed for requesting push message delivery"
In other sections (e.g. [Subscribing for Push Messages](https://tools.ietf.org/html/draft-ietf-webpush-protocol-03#section-4)), it's clear that a POST request is required. In this section instead, you can only infer it from the example, but you could think that other methods are supported as well (e.g. I was starting to think PUT was allowed).

[2016-03-15 20:32] brianraymor commented on #79
Update Section 6 to:
   An application server requests the delivery of a push message by
   sending a HTTP **POST** request to a push resource distributed to the
   application server by a user agent.

[2016-03-21 17:53] brianraymor commented on #75
Moving to -05. Waiting for a decision on the VAPID call for adoption.

[2016-03-25 20:49] brianraymor commented on #79
Resolved in -04.

[2016-03-25 20:49] #79 closed, assigned to brianraymor

[2016-03-25 21:00] brianraymor opened #81 "Simplifying Acknowledgements"
To be presented at IETF95 for further discussion - original [proposal](http://www.ietf.org/mail-archive/web/webpush/current/msg00441.html) on the mailing list.

[2016-04-04 21:09] brianraymor commented on #81
Based on discussion at IETF 95 - will create a pull request for review that integrates the receipt simplification proposal and the addition of "subscription sets" for application server receipts.

[2016-04-21 21:48] brianraymor commented on #44
Addressed by the WG adoption of  [Voluntary Application Server Identification for Web Push ](https://datatracker.ietf.org/doc/draft-ietf-webpush-vapid/) as an optional feature.

[2016-04-21 21:48] #44 closed, assigned to martinthomson

[2016-04-25 23:57] martinthomson opened #85 "How does the application server decide that two push resources are the "same""
In #84, @brianraymor notes that the creation of a subscription - either by the user agent or application server - should be rejected if the secondary information is invalid.

I think that for a user agent, this is fine.  They only talk to a single push service.  However, for the receipt subscription there is a potential hazard.  In that direction, the application server has no overt knowledge abou

[2016-04-26 00:04] ghost opened #86 "Clarify application servers removing subscriptions in section 7.3"
https://tools.ietf.org/html/draft-ietf-webpush-protocol-00#section-7.3 says this:

It's clear that a user agent can unsubscribe by deleting its subscription resource. However, it's not obvious to me how the app server can do this, since it doesn't have access to the subscription resource.

I'm wondering if the last part of that sentence should read "push message subscription resource or push resou

[2016-04-26 00:21] martinthomson commented on #86
I don't think that this is a good idea.  An application server isn't necessarily the sole owner of a push resource, and if it thinks that it is, then it's easy enough for it to stop using the push resource.

[2016-04-26 00:31] brianraymor commented on #86
The application server has access to a receipt subscription URI for receiving acknowledgements. For clarity, this should be separated out into two statements - one for UA (message subscription resource) and one for AS (receipt subscription resource).

[2016-04-26 00:38] martinthomson commented on #86
I think that it's perfectly reasonable for an application server to delete a receipt subscription.  Kit seems to be asking for the ability to delete a push subscription.

[2016-04-26 01:00] brianraymor commented on #86
@kitcambridge - the push message subscription and the push resource are not equivalent. Earlier we modeled them as separate capabilities - the push message subscription is for reading/deleting and the push resource is for writing.

There is no specific guidance about an AS deleting a push resource. Do we need to address this by having the PS return a 400 (Bad Request)? As Martin noted, the AS coul

[2016-04-26 04:54] ghost commented on #86
Oh, I see. I misread the quoted sentence as "it's possible for a UA or an AS to delete a push subscription," and I filed this issue because I didn't see a way for the AS to do that. In fact, the sentence is saying two separate things:
- A UA can delete a push subscription.
- An AS can delete a receipt subscription.

Thanks!

[2016-04-26 04:54] #86 closed, assigned to nobody

[2016-04-26 16:48] bbangert commented on #85
Agreed, these are not the same. If the receipt resource is relative as shown in the PR, then I'd expect it to be relative to the scheme, host, and port matching.

[2016-04-26 20:03] brianraymor commented on #85
How about:
_         For future receipt requests to the same origin <xref target="RFC6454"/>,
          the application server SHOULD include the returned receipt subscription to
          allow the push service to aggregate receipts. The push service SHOULD return
          the same receipt subscription in its response, although it MAY return a new
          receipt subscription if it is unable t

[2016-04-26 23:33] martinthomson commented on #85
WFM

[2016-04-28 04:24] brianraymor opened #87 "Flow Control for Application Server Receipts"
Conversation starts [here](http://www.ietf.org/mail-archive/web/webpush/current/msg00504.html):

_How does the PS know that AS can accept more receipts, and how does it know a receipt has been accepted by the AS ?_

[2016-04-28 04:24] #81 closed, assigned to brianraymor

[2016-04-28 04:25] brianraymor commented on #85
Closed by #84

[2016-04-28 04:25] #85 closed, assigned to nobody

[2016-04-28 05:33] RichardMaher commented on #87
Two-Pipe model a la mode de TIP?
https://tools.ietf.org/html/rfc2372

[2016-04-29 00:55] RichardMaher commented on #87
@brianraymor

WRT https://mailarchive.ietf.org/arch/attach/webpush/pdf_mlRKG.pdf ("5.4. Updating Push Messages" and the sheer nonsense of 4.1)

Can you please ask your Microsoft colleagues to explain what Topic messages are for: -
https://blogs.windows.com/buildingapps/2013/09/16/delivering-push-notifications-to-millions-of-devices-with-windows-azure-notification-hubs/

Topic-based multicast. Broa

[2016-05-03 13:47] brianraymor commented on #87
@martinthomson started [flow control for server push discussion](https://lists.w3.org/Archives/Public/ietf-http-wg/2016AprJun/0197.html) on HTTPbis

[2016-05-05 01:09] #75 closed, assigned to brianraymor

[2016-05-05 02:00] RichardMaher commented on #9
So this is where it all went wrong :-(

https://github.com/webpush-wg/webpush-protocol/issues/87

**_TOPICS are NOT collapse keys!**_

[2016-06-03 04:35] brianraymor commented on #87
Costin [wrote](http://www.ietf.org/mail-archive/web/webpush/current/msg00530.html):
_we discussed my concerns on flow control for push promises, and I think it's reasonable to have them addressed either as part of http2 or as a separate document._

I'm closing this issue for webpush since it's no longer actionable - @costinm - re-open if you want to track for "futures". I'll tag appropriately.

[2016-06-03 04:35] #87 closed, assigned to nobody

[2016-06-03 21:37] costinm opened #106 "Optional message encryption and push message examples"
"The ciphertext of the push message is included in the body of the request."
1. The example looks like base64 - it should be clear it's binary content ( ciphertext is not base64)
2. If we give an example with ciphertext, it should include the extra headers.

Alternative is to say "The content of the push message is included", and have a "I am walrus" example" -
with a link to the encryption docume

[2016-06-06 20:21] brianraymor opened #109 "Allow push service to reject messages < 4K"
On Thursday, June 2, 2016 12:02 AM, Kit Cambridge <kcambridge at mozilla.com> suggested:

On Friday, June 3, 2016 7:56 AM, Costin Manolache <costin at gmail.com>  seconded:

This change would simply eliminate this requirement:

  Push services MUST NOT return a 413 status code in responses to an entity body that is 4k (4096 bytes) or less in size.

Current [discussion](http://www.ietf.org/mail-arc

[2016-06-06 22:55] idelpivnitskiy opened #110 "Different status codes for negative Push Message Receipts"
Now an AS receives 204 (No Content) if a push message successfully delivered to a UA and 410 (Gone) if it fails. But we have two different scenarios for fails:
- UA was unavailable during the whole TTL of push message;
- PS sent push message to the UA, but didn't receive acknowledgement.

If UA was unavailable that's OK. But if PS sent push message to the UA (may be few times), but didn't receive

[2016-06-06 23:16] idelpivnitskiy opened #111 "414 Request-URL Too Long"
Consider to restrict the length of URIs and send 414 (Request-URL Too Long) if it exceed the max length.

[2016-06-06 23:38] brianraymor commented on #111
I don't think that we need to address this case unless there's specific implementation experience.

As documented in [RFC7231](https://tools.ietf.org/html/rfc7231#section-6.5.12):

_This rare condition is only likely to occur when a client has improperly converted a POST request to a GET request with long query information, when the client has descended into a "black hole" of redirection (e.g., a

[2016-06-06 23:38] #111 closed, assigned to nobody

[2016-06-07 00:16] idelpivnitskiy opened #112 "Try to deliver receipt at least once, even if TTL expired"
According to the discussions on #91 we know, that delivery receipt could be send to the AS even if push message resource is already removed from the PS:
- Information for the receipt could be encoded in the push message resource.
- Another case: think that most PS implementations will not totally delete information about push message after TTL expiration. They will delete only the body, because it

[2016-06-07 00:23] idelpivnitskiy opened #113 "Prefer: wait=0 for Receiving Push Message Receipts"
Looks like the logic and [reliability level](https://www.ietf.org/proceedings/93/slides/slides-93-webpush-1.pdf) is the same for Receiving Push Message Receipts (6.3) and Receiving Push Messages for a Subscription (6). Will not be a problem to add useful feature for the AS too.

[2016-06-07 16:01] jrconlin commented on #112
I will note that for our implementation, TTL=0 messages are never stored. Information about the transaction is logged, but not retrievable or re-callable by the application. Requiring ACK for TTL=0 increases our storage costs, possibly significantly. I'm concerned that there is the presumption that there is no expiration for Acknowledgements. Does this mean that a PS must maintain these records fo

[2016-06-07 17:16] brianraymor commented on #112
@jrconlin wrote _I'm concerned that there is the presumption that there is no expiration for Acknowledgements._

An acknowledgement expires when its related message TTL expires. This was discussed at [IETF93](https://www.ietf.org/proceedings/93/minutes/minutes-93-webpush):

_\- There was a general consensus to support “Full Reliability” whereby push and acknowledgement messages are both stored and

[2016-06-07 17:51] jrconlin commented on #112
@brianraymor Thanks, I was concerned because I did not know the outcome of #40, and only knew the discussion being held here.

@idelpivnitskiy I would consider a TTL=0 message to be something of immediate value to the recipient (e.g. "Your toast is on fire" or "There's a parking spot available outside your building"). As such, they're effectively disposable, and the lack of an immediate ACK would

[2016-06-07 21:55] idelpivnitskiy commented on #112
@jrconlin I opened parallel thread to discuss this question: #110

[2016-06-07 21:55] idelpivnitskiy commented on #112
@jrconlin Thanks for the explanation and example. Agree that my proposal will increase complexity of PS and it's requirements for the memory. And as there is no mandatory requirement that push messages with TTL=0 have to be deleted immediately we may leave it as is. If someone want to implement it, he may do this.

[2016-06-07 21:55] #112 closed, assigned to nobody

[2016-06-07 22:58] brianraymor commented on #110
**_... here is a problem with the UA: connection problems or it can not decrypt/decode the message or application was crashed or something else goes wrong. This information could be useful for an AS, first of all for problem detections and debugging purposes._**

Earlier, Elio proposed Acknowledgement Data for similar scenarios- https://github.com/webpush-wg/webpush-protocol/issues/42
& https://gi

[2016-06-07 23:00] brianraymor commented on #110
Many of proposed status codes in this PR have specific use cases, requirements, and/or behavior. For example:

[408 Request Timeout](https://tools.ietf.org/html/rfc7231#section-6.5.7):

_The 408 (Request Timeout) status code indicates that the server did not receive a complete request message within the time that it was prepared to wait.  **A server SHOULD send the "close" connection option (Secti

[2016-06-07 23:11] brianraymor commented on #110
**_...Or create a new status code with appropriate title._**

Martin and I were also tempted by that idea earlier.

I don't see 434 in the [registry](http://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml). Is this a FTP return code that you're proposing to duplicate?

We've [discussed](http://www.ietf.org/mail-archive/web/webpush/current/msg00362.html) the creation of new statu

[2016-06-07 23:38] bbangert commented on #110
I'm not too thrilled with any of these status codes (except 204) as they don't feel entirely applicable.

For ack/nack's, the 'client' is the AS, so a 4xx should only be if the AS should change something in its push message to have it processed. If a message expired or some other non-error in the UA caused it to not be delivered, a 3xx is possibly appropriate per HTTP/1.1 spec defines the 3xx for

[2016-06-08 02:32] martinthomson commented on #111
Note that all of the URLs we use are generated by the server that is responsible for them.  As such, a 414 would be a pretty serious bug.

[2016-06-08 04:23] martinthomson commented on #113
I'm not sure what your issue is here.  Would you mind restating it?

[2016-06-08 19:14] brianraymor commented on #113
Symmetry? My interpretation is that this is a suggestion to add a **Prefer: wait=0** option to the Receiving Push Message Receipts section to allow application servers to have the same option for receiving receipts as user agents have for receiving messages. Something like:

_A application server can also request the contents of the receipt subscription resource immediately by including a Prefer h

[2016-06-08 20:01] brianraymor commented on #109
No alternative minimum limits were proposed. Closing.

[2016-06-08 20:01] #109 closed, assigned to nobody

[2016-06-08 20:51] idelpivnitskiy commented on #113
@brianraymor Thank you! That's exactly what I mean.

Info about possible 204 (No Content) response also should be included:

I can send a PR for this.

[2016-06-08 21:33] idelpivnitskiy commented on #110
@brianraymor I will not vote for the payload in acks, because:
- it may significantly increase memory requirements for the PS;
- it may be impossible to generate payload in some cases, for example, when application was crashed;
- it will increase traffic in the network.

Think that status code would be enough information to notify AS of a problem. Other debugging actions should be applied to resol

[2016-06-08 21:41] idelpivnitskiy commented on #110
@bbangert as I said in the previous message, it may be hard/impossible for a UA to generate an appropriate request for PS, cause it may be crashed. Also it will increase complexity of a UA.
Information from PS would be enough for AS.

[2016-06-08 22:19] bbangert commented on #110
@idelpivnitskiy The UA **must** ack the message per the WebPush spec. If it crashed or whatever, it should be able to indicate it in the ack which the PS uses to generate the receipt. The 502 could be used anytime the UA never is able to process the message. Am I misunderstanding you on this?

[2016-06-08 22:34] idelpivnitskiy commented on #110
@bbangert a little bit, thank you for clarification.

Let's see what will be after discussion about DOM spec in this thread: http://www.ietf.org/mail-archive/web/webpush/current/threads.html#00580

[2016-06-08 23:04] idelpivnitskiy opened #115 "Delivery receipt may be sent before AS request delivery"
Here may be a problem with push messages with a little value of TTL. Message may be sent to a UA and ack may be received from the UA before the AS will send a HTTP GET request to the receipt subscription resource. PS will retry delivering of receipt, but TTL may expire before this.

To eliminate this problem it would be better to introduce separate resource for an AS: something like `/subscribe` f

[2016-06-08 23:18] brianraymor commented on #110
We've had these earlier discussions about 5xx codes and these scenarios. For examples, see #17 and #49. I'm not seeing new issues or solutions in this case. I'd prefer not to re-open issues during WGLC.

[2016-06-08 23:30] brianraymor commented on #115
@idelpivnitskiy - Regarding _introduce separate resource for an AS: something like  /subscribe  for a UA, where AS may create a receipt subscription._

that was the original design. We recently simplified the design in -05 after reaching consensus following the [presentation](https://www.ietf.org/proceedings/95/slides/slides-95-webpush-1.pdf) after IETF95.

@martinthomson noted the risk at that ti

[2016-06-08 23:38] brianraymor commented on #113
@idelpivnitskiy - a PR is not necessary. Since we're in **WGLC** and this has not been requested during the lifetime of the protocol design, it would be good for you to explore if there is strong implementer interest in the change on the mailing list.

The Prefer: wait=0 makes sense for user agents on mobile devices with limited battery life. Although the proposal is symmetrical, it might be less

[2016-06-09 01:22] brianraymor commented on #106
I prefer the "Alternative" approach to keep the webpush examples simple and uncluttered. I will add a reference to the example in  [vapid](https://tools.ietf.org/html/draft-ietf-webpush-vapid-00#section-2.2) to illustrate encryption.

[2016-06-09 02:12] idelpivnitskiy commented on #115
@brianraymor thanks for the information. Moved discussion to the mailing list

[2016-06-09 22:30] brianraymor commented on #115
@martinthomson elaborated further on the [mailing list](http://www.ietf.org/mail-archive/web/webpush/current/msg00599.html):

_The only good solution to this general problem is to have a longer TTL._

_Even if you fix the "bug" you identified, a short TTL can expire between the time that the message is delivered to the user agent and before the acknowledgment can reach the push service._

[2016-06-10 21:02] brianraymor commented on #110
Closing - per my [summary](http://www.ietf.org/mail-archive/web/webpush/current/msg00608.html) on the mailing list.

[2016-06-10 21:02] #110 closed, assigned to nobody

[2016-06-10 22:04] #115 closed, assigned to nobody

[2016-06-11 02:13] #113 closed, assigned to nobody

[2016-06-14 08:19] #106 closed, assigned to nobody

[2016-10-20 21:06] martinthomson opened #142 "SOP"
From Stephen:

[2016-10-21 06:10] brianraymor commented on #142
Is this already addressed by https://tools.ietf.org/html/draft-ietf-webpush-protocol-11#section-8

   _Applications using this protocol MUST use mechanisms that provide
   confidentiality, integrity and data origin authentication.  The
   application server sending the push message and the application on
   the user agent that receives it are frequently just different
   instances of the same appl

[2017-01-03 23:16] martinthomson commented on #142
OBE.

[2017-01-03 23:16] #142 closed, assigned to nobody